In [2]:
print("HELLO WORLD")

HELLO WORLD

In [4]:
1e-4

0.0001

In [6]:
0b10*0o10+0x10-10

22

In [9]:
print(bin(10))
print(oct(10))
print(hex(10))

0b1010
0o12
0xa

In [10]:
print("2020","07","23",sep="-")
print("Hello", end=" ")
print("WORLD")

2020-07-23
Hello WORLD

In [12]:
str1 = "I'm data "
str2 = "Scientist"
print( str1 , str2)
print(len(str1), len(str2), len(str1+str2))
s3 = "click \t next \t page"
print(s3)
print(r"c://test")

I'm data  Scientist
9 9 18
click 	 next 	 page
c://test

In [13]:
"""
주석
"""

'\n주석\n'

# 집합(set)
## 순서 x
## 중복 x

In [12]:
a = set()
b = set([1,2,3,4,])
c = set([1,4,5,6])
d = set([1, 2, 'Pen', 'Cap', 'Plate'])

In [14]:
t = tuple(b)
print(t)

(1, 2, 3, 4)

In [17]:
print(b)
b.add(5)
print(b)
b.remove(2)
print(b)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [21]:
print(b & c) # 교집합
print(a|b)   # 합집합
print(a - b) # 차집합
print(b - a) # 차집합

{1, 4, 5}
{1, 3, 4, 5}
set()
{1, 3, 4, 5}

In [36]:
freinds = ['James', 'Robert', 'Lisa', 'Mary']
print(freinds)
freinds.insert(1,'Paul')
print(freinds)
freinds.append('Chris')
print(freinds)
freinds.extend(['Tomas', 'Betty'])
print(freinds)
del freinds[-1]
print(freinds)
freinds.remove('Tomas')
print(freinds)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Chris']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Chris', 'Tomas', 'Betty']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Chris', 'Tomas']
['James', 'Paul', 'Robert', 'Lisa', 'Mary', 'Chris']

In [41]:
tuple2=(1,)
tuple3 = 6,
tuple1 = (1,2,3,4)
print(type(tuple1),type(tuple2),type(tuple3))
print(tuple1[2])

<class 'tuple'> <class 'tuple'> <class 'tuple'>
3

In [42]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [44]:
print(tuple1.index(3))

2

In [45]:
t4 = (1,2,3,3,3,4,5)
print(t4.count(3))

3

In [48]:
s1 = {3,2,1}
s2 = {1,2,3,3}
print(s1)
print(s2)
type(s1)

{1, 2, 3}
{1, 2, 3}

set

In [52]:
A = {1,2,3,4,5}
B = {9,8,7,6,0,4}
print(A.intersection(B), A&B)
print(A.union(B), A|B)
print(A.difference(B), A-B)

{4} {4}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9} {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 5} {1, 2, 3, 5}

In [68]:
q = {'name':'LEE', 'phone':'01000000000', 'area':'00121'}
w = {'korea':'seoul', 'GBR':'London', 'FRA':'Paris'}

In [69]:
print(q['name'])
print(q.keys())
print(q.values())
print('name' in q)

LEE
dict_keys(['name', 'phone', 'area'])
dict_values(['LEE', '01000000000', '00121'])
True

In [70]:
w['호주']='베를린'
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris', '호주': '베를린'}

In [71]:
w['호주']='캔버라'
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris', '호주': '캔버라'}

In [72]:
del w['호주']
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris'}

In [73]:
w2 = w.items()
print(w2)
w3 = list(w.items())
print(w3)
print(w3[0])

dict_items([('korea', 'seoul'), ('GBR', 'London'), ('FRA', 'Paris')])
[('korea', 'seoul'), ('GBR', 'London'), ('FRA', 'Paris')]
('korea', 'seoul')

In [74]:
w.update(q)
print(w)
w.clear()
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris', 'name': 'LEE', 'phone': '01000000000', 'area': '00121'}
{}

In [1]:
def get_list_sum(nums):
    return sum(nums)/len(nums)

nums=[1,2,3,4,5]
print(get_list_sum(nums))

3.0

In [ ]:
class FishCake():
    def __init__(self, **kwargs):
        self.size=10
        self.flabor = "팥"
        self.price=100
        
        if "size" in kwargs:
            self._size = kwargs.get("size")
        if "flabor" in kwargs:
            self._flabor = kwargs.get("flabor")
        if "price" in kwargs:
            self._price = kwargs.get("price")
            
    def show(self):
        print(self.size, self.flabor, )

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\chris\anaconda3\lib\site-packages (1.18.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install goolgetrans

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement goolgetrans (from versions: none)
ERROR: No matching distribution found for goolgetrans

In [1]:
from googletrans import Translator

gt = Translator()

word = gt.translate("나는 종로에 놀러 왔습니다.", dest='en', src='ko')

ModuleNotFoundError: No module named 'googletrans'